@import "bootstrap/bootstrap-workflow";
body {
    font-family: @repsolLight;
}

#workflow-wrapper {
    border: 2px solid @verdeRepsol;
    .navbar {
        #logo-repsol {
            background-color: @rojoRepsol;
            width: 150px;
            height: 50px;
            float: left;
        }
        #user-nav-info {
            float: right;
        }
        &:before {

        }
    }
}
